.container {
  height: 100%;
}

.top {
  height: 88px;

  .topUl {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;

    .logo {
      height: 40px;
      width: 138px;
      margin-left: 30px;
      background-image: url(//yanxuan-static.nosdn.127.net/hxm/yanxuan-wap/p/20161201/style/img/icon-normal/indexLogo-a90bdaae6b.png);
    }

    .serach {
      .serachInp {
        height: 56px;
        width: 442px;
        background: #ededed;
        border-radius: 10px;
        border: none;
        font-size: 27px;
        background-image: url(//yanxuan-static.nosdn.127.net/hxm/yanxuan-wap/p/20161201/style/img/icon-normal/search2-553dba3aff.png);
        background-position: 40px 15px;
        background-repeat: no-repeat;
        padding-left: 80px;
        box-sizing: border-box;
      }
    }

    .topLogin {
      padding-right: 20px;

      .loginBtn {
        height: 45px;
        width: 74px;
        background: #fff;
        font-size: 25px;
        color: #b4282d;
        border: 1px solid #b4282d;
        border-radius: 10px;
      }
    }
  }
}
